// Color Variables
$primary: #ffffff;
$secondary: #111111;
$tertiary: #5956e9;
$btnColor1: #ab1234;
$btnColor2: #f8ac20;
$btnColor3: #10af02;
$bordercolor: #777777;
$gradient: linear-gradient(45deg, #ffa172 0%, #ab1234 100%);


//Shadow Variables
$shadow: 10px 12px 25px #4b4b4b2a;

//Font Variables
// $lato: "Lato Regular", sans-serif;
// $latobold: "Lato Bold", sans-serif;
$metropolis: "Metropolis Regular";
$metropolismedium: "Metropolis Medium";
$metropolisemibold: "Metropolis SemiBold";
$metropolisbold: "Metropolis Bold";

//Screen Size Variables
$mobile: 400px;
$tablet: 768px;
$laptop: 996px;
$desktop: 1200px;
